@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --body-color: #1e2022;
  --bg-color: #212121;
  --text-color: #ffffff;
  --dark-red: #ff0000;
  --orange: #ff6600;
  --yellow: #f1d00a;
  --dark-blue: #000957;
  --light-blue: #332fd0;
  --dark-green: #059212;
  --green: #06d001;
  --white: #ffffff;
  --purple: #f5004f;
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
  font-family: "Poppins", serif;
  color: var(--text-color);
  user-select: none;
}

button {
  cursor: pointer;
}

#welcome-page {
  padding: 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/bg-image.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.welcome-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.welcome-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-info h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
}

.welcome-info p {
  color: var(--yellow);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5em;
  text-align: center;
}

.welcome-info span {
  color: var(--yellow);
  font-size: 3rem;
  font-weight: 700;
}

.login-info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  box-shadow: 1px 1px 30px #888888;
  border-radius: 20px;
  padding: 1em 0;
  margin-top: 2.5em;
}

.login-wrapper h3 {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--yellow);
  margin: 0.5em 0 0.25em 0;
}

.login-wrapper p {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  color: var(--white);
  width: 70%;
}

.login-wrapper span {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--white);
  border-top: 1px solid var(--yellow);
  margin: 0.5em 0 1em 0;
  padding: 0.5em;
}

.fa-fingerprint {
  font-size: 4rem;
  color: red;
  font-weight: 300;
  margin-top: 0.25em;
}

#loginBtn {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bg-color);
  background-color: var(--yellow);
  padding: 0.4em 1.2em 0.5em 1.25em;
  margin: 1em auto;
  border: none;
  border-radius: 35px;
}

.social-icons {
  display: flex;
  gap: 0.5em;
}

.social-icons i {
  color: var(--white);
  font-size: 1.25rem;
}

.social-icons i:hover {
  color: var(--yellow);
}

@media screen and (min-width: 480px) {
  #welcome-page {
    height: 100vh;
  }
  .welcome-page-container {
    flex-direction: row;
  }

  .welcome-info {
    align-items: flex-start;
    padding: 0 4em;
  }

  .welcome-info h1 {
    font-size: 3.5rem;
    width: 500px;
    text-align: left;
  }

  .welcome-info p {
    width: 450px;
    text-align: left;
  }

  .welcome-info span {
    font-size: 3.75rem;
  }

  .login-wrapper {
    margin-top: 0;
  }
}

#app {
  display: none;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 1em;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #888888;
  position: sticky;
  top: -0.75em;
  z-index: 10;
}

.user-info h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.user-info p {
  font-size: 0.75rem;
  font-weight: 400;
}

.header-balance-nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

#exitBtn {
  border: none;
  background-color: transparent;
  border: 1px solid var(--dark-red);
  border-radius: 20px;
  padding: 0.1em 0.8em;
  color: var(--dark-red);
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#refreshBtn {
  border: none;
  background-color: transparent;
  color: var(--light-blue);
  font-size: 1.5rem;
  cursor: pointer;
}

.header-balance {
  display: none;
  gap: 1em;
  align-items: center;
  margin-right: 3em;
}

.header-balance p {
  font-size: 1rem;
  font-weight: 400;
}

#headerBalance {
  font-size: 1.25rem;
  font-weight: 600;
}

@media screen and (min-width: 480px) {
  .main {
    display: flex;
  }

  .header {
    flex-direction: row;
    padding: 1em 3em;
    align-items: center;
  }

  .header-balance {
    display: flex;
  }

  .user-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .user-info p {
    font-size: 1rem;
    font-weight: 400;
  }

  #exitBtn {
    font-size: 1.125rem;
    padding: 0.1em 1em;
  }
}

.form-dashboard {
  background: var(--bg-color);
  padding: 2em;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #888888;
  margin-top: 1em;
}

.form-dashboard h3 {
  font-size: 1rem;
  font-weight: 400;
}

.form-dashboard h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.income-balance {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.total-income {
  background-color: var(--dark-green);
  border-radius: 10px;
  padding: 1em;
  color: var(--white);
  flex: 1;
}

.total-income p {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

#totalIncomeDisplay {
  font-size: 1.3rem;
  font-weight: 500;
}

.total-expense {
  background-color: var(--dark-red);
  border-radius: 10px;
  padding: 1em;
  color: var(--white);
  flex: 1;
}

.total-expense p {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

#totalExpenseDisplay {
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .form {
    width: 50%;
  }
  .form-dashboard {
    padding: 2em 3em;
  }

  .form-dashboard h3 {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .form-dashboard h1 {
    font-size: 2rem;
  }

  .income-balance {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-entry {
  background: var(--bg-color);
  padding: 2em 3em;
  border-radius: 20px;
  margin-top: 1em;
  box-shadow: 1px 1px 10px #888888;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.date label {
  margin-bottom: 0.6em;
}

.catagory label {
  margin-bottom: 0.6em;
}

.date-catagory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}

.catagory {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
  flex-direction: column;
}

.form-entry h4 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.form-entry input {
  background-color: var(--white);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1em;
}

.form-entry input[type="date"] {
  text-transform: uppercase;
  font-family: "Poppins", serif;
  font-size: 0.85rem;
  width: 100%;
}

.form-entry select {
  background-color: var(--white);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1.25em;
}
.form-btn {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.btn {
  font-size: 1.1rem;
  border: none;
  border-radius: 35px;
}

#addButton {
  padding: 0.5em 2em;
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

#resetButton {
  padding: 0.5em 1.6em;
  background-color: var(--light-blue);
  color: var(--white);
  cursor: pointer;
}

.overview {
  background: var(--bg-color);
  padding: 1em;
  border-radius: 20px;
  margin-top: 1em;
  box-shadow: 1px 1px 10px #888888;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  overflow: hidden;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.filter span {
  font-size: 1.25rem;
  font-weight: 500;
}

.filter-btns {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.apply-filter-btn {
  font-size: 1rem;
  border: none;
  border-radius: 35px;
  padding: 0.4em 1em;
  background-color: var(--light-blue);
  color: var(--white);
  cursor: pointer;
}

.data-table {
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}

th,
td {
  border: 1px solid var(--white);
  padding: 0.5em;
  text-align: center;
}

th {
  background-color: var(--purple);
  color: var(--text-color);
  font-weight: 500;
  position: sticky;
  top: 0;
  border: 1px solid var(--white);
}

tfoot {
  background-color: var(--purple);
  color: #fff;
  position: sticky;
  bottom: -0.2em;
  border: 1px solid var(--white);
}

tbody {
  background-color: var(--bg-color);
}

.table-footer {
  text-align: left;
  padding-left: 1em;
}

.action-cta {
  display: flex;
  gap: 0.8em;
  justify-content: center;
  padding: 0.25em;
}

#deleteBtn {
  border: none;
  background-color: transparent;
}

#deleteBtn i {
  color: var(--dark-red);
  font-size: 1.25rem;
}

#editBtn {
  border: none;
  background-color: transparent;
}

#editBtn i {
  color: blue;
  font-size: 1.2rem;
}

.table {
  overflow-x: scroll;
}

@media screen and (min-width: 480px) {
  .overview {
    margin-left: 1em;
    padding: 2em 3em;
  }

  .data-table {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 670px;
  }
}

@media screen and (min-width: 820px) {
  .filter {
    flex-direction: row;
    gap: 2em;
  }
}
